.fullCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  // background-color: hsl(39 100% 90% / 1);
  
  img {
    border-radius: 50%;
  }

  .cardInfo {
    padding: 10px;
    
    .likeButton {
      cursor: pointer;
    }
  }
}