.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-start: 20px;
}

.mostLikedTitle {
  text-align: center;
  padding: 0;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  align-items: start;
  justify-items: center;
  justify-content: center;
  padding: 60px;
}
